<section >
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32   lg:pt-32">
    <div class="lg:text-center">
      <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-8xl">
        Talk with Neil
      </h1>
      <h2 class="hover:animate-pulse tracking-tight text-balance font-medium font-display text-black md:text-2xl">
        Your source of certainty in a world of chaos
      </h2>
    </div>
  </div>
</section>
